_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
assets/drawings/xxx.png
assets/drawings/popsicle.png
assets/drawings/wendy_artin.png
assets/drawings/charcoal_figure.png
assets/drawings/pin_up.png
assets/drawings/anime_ref.png
.vscode
assets/gifs/rem.gif
assets/pics/emilia-sitting-on-a-bridge-talking-to-subaru-natsuki-in-rezero.avif
assets/pics/eva.jpg
assets/pics/subaru_crying.webp
assets/pics/toradora.jpg
assets/pics/tree