_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
assets/drawings/xxx.png
assets/drawings/popsicle.png
assets/drawings/wendy_artin.png
assets/drawings/charcoal_figure.png
assets/drawings/pin_up.png
.vscode