<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
  
  {%- include head.html -%}
  
  <body class="{{ page.body_class | default: '' }}">
    {% include nav.html %}
    {% if page.vertical_name %}
      <div class="vertical-name-stack desktop">
        {% assign name = page.vertical_name | split: "" %}
        {% for letter in name %}
          {% if letter == " " %}
            <span class="letter space">A</span>
          {% else %}
            <span class="letter">{{ letter }}</span>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    
    {% if page.vertical_name_mobile %}
      <div class="vertical-name-stack mobile">
        {% assign name = page.vertical_name_mobile | split: "" %}
        {% for letter in name %}
          {% if letter == " " %}
            <span class="letter space">A</span>
          {% else %}
            <span class="letter">{{ letter }}</span>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    
    {% if page.under_construction %}
  <div class="under-construction">
    <img src="{{ '/assets/gifs/construction.gif' | relative_url }}" alt="Under construction gif">
  </div>
  {% endif %}
  
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
</body>

</html>