<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {% include nav.html %}

    {% if page.under_construction %}
      <div class="under-construction">
        <img src="{{ '/assets/gifs/construction.gif' | relative_url }}" alt="Under construction gif">
      </div>
    {% endif %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>
